/* WINDOW */
body { overflow: hidden; }
.layer-controls { z-index: 1; }
main {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	border: 2px solid var(--prime-l);
	background: var(--bg);
	overflow: hidden;
	font-family: Prompt;
	max-width: 525px;
	min-height: 180px;
	height: 100vh;
}
window-controls {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}
window-controls button {
	width: 40px;
	height: 40px;
	margin: 0;
	border-radius: 0 0 6px 6px;
	background: transparent;
}
button.close-window {
	border-radius: 0 10px 0 6px;
}
window-controls button:hover {
	background: var(--prime-l);
	box-shadow: none !important;
}
button.close-window:hover {
	background: var(--red) !important;
	color: var(--bg) !important;
}

/* SLIDER */
input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 2px;
	margin: 0;
	background: var(--prime-l);
	background: linear-gradient(to right, var(--prime-d) 0%, var(--prime-d) 50%, var(--prime-l) 50%, var(--prime-l) 100%);
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 12px;
	border: 2px solid var(--bg);
	background: var(--prime-d);
	transition: .2s;
}
input[type=range]::-webkit-slider-thumb:hover { height: 16px; }

/* BUTTONS */
button {
	min-width: 32px;
	min-height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	border: none;
	outline: none;
	background: var(--bg);
	background: radial-gradient(circle at center, var(--prime-l) var(--grad-stop), var(--bg) var(--grad-stop));
	transition: all .2s, box-shadow .5s .1s, --grad-stop .4s;
}
button:not(.fab):hover {
	--grad-stop: 100%;
	box-shadow: 0 0 0 2px var(--prime-l);
}

.fab {
	height: 48px;
	width: 48px;
	padding-inline-start: 2px !important;
	font-size: 40px;
	z-index: 1;
}

track-info {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 8px;
}

#title, #album-artist {
	max-width: 360px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#album-artist { max-width: 400px; }

#title { font-size: 24px; font-weight: lighter; }
#album-artist { font-size: 10px; }

.controls-container {margin: 0 12px;}

button {
	margin: 0 4px;
	padding: 0;
}

.volume-container {
	flex-basis: 25%;
	margin-inline-end: auto;
}
.volume-slider {
	width: 80px;
	max-width: 80px;
	opacity: 0;
	pointer-events: none;
	transition: .2s;
}
.volume-container:hover .volume-slider {
	opacity: 1;
	pointer-events: all;
}

#seek {margin: 14px 0;}

.seek-container {
	flex-basis: 25%;
	justify-content: flex-end;
	margin-inline-start: auto;
}
.seek-container div {
	border-radius: 6px;
	border: 2px solid var(--prime-d);
}
.seek-container label {
	padding: 1px 6px;
	border-radius: 4px;
}

#wave {
	position: absolute;
	top: 0;
	width: 100%;
	height: 75px;
	border-radius: 0 0 10px 10px;
	margin-top: 75px;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.2s;
	pointer-events: none;
}
#wave.done {
	transform: scaleY(-1);
}

/*
HMMMM...

audio::-webkit-media-controls-panel
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button


*/