@font-face {
	font-family: "Prompt";
	font-display: swap;
	src: url(../assets/fonts/Prompt-ExtraLight.ttf) format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Prompt";
	font-display: swap;
	src: url(../assets/fonts/Prompt-Regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Prompt";
	font-display: swap;
	src: url(../assets/fonts/Prompt-SemiBold.ttf) format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-display: swap;
	src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('woff2');
	/* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
  }

/* ATOMICS */
.transparent { background: transparent; }
.hidden { display: none; }
.row { display: flex; align-items: center; }
.row.centered { justify-content: center; }

.c-prime-l { color: var(--prime-l) }
.c-prime { color: var(--prime) }
.c-prime-d { color: var(--prime-d) }
.c-sec { color: var(--bg) }
.c-red { color: var(--red); }

.bg { background: var(--bg); }
.bg-prime-l { background: var(--prime-l); }
.bg-prime { background: var(--prime); }
.bg-prime-d {background: var(--prime-d);}

.borderless {
	border: none;
	outline: none;
}

.elev {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14),
  0px 1px 18px rgba(0, 0, 0, 0.12),
  0px 3px 5px rgba(0, 0, 0, 0.2);
}
.elev:hover {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.34),
		0px 1px 18px rgba(0, 0, 0, 0.32),
		0px 3px 5px rgba(0, 0, 0, 0.4);
}

.fw-l { font-weight: 200; }
.fw-r { font-weight: 400; }
.fw-b { font-weight: 600; }
.fs-s { font-size: 10px; }
.fs-m { font-size: 14px; }

.ff-m { font-family: 'JetBrains Mono', monospace; }

.rz-180 {
	transform: rotateZ(180deg);
}

.ry-90 {
	transform: translateX(10px) scale(.9) rotateY(90deg);
}

.inert { pointer-events: none; }