/* TODO separate positioning/sizing from theming!!! */
/* WINDOW */
body { overflow: hidden; }
.layer-controls { z-index: 1; }

main {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-width: 525px;
	min-height: 180px;
	height: 100vh;
}
window-controls {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

/* SLIDER */
input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	margin: 0;
	outline: none;
}

/* BUTTONS */
button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}

track-info {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 8px;
}

#title, #album-artist {
	max-width: 360px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#album-artist { max-width: 400px; }

.controls-container {margin: 0 12px;}

button {
	margin: 0 4px;
	padding: 0;
}

.volume-container {
	flex-basis: 25%;
	margin-inline-end: auto;
}
.volume-slider {
	width: 80px;
	max-width: 80px;
	opacity: 0;
	pointer-events: none;
	transition: .2s;
}
.volume-container:hover .volume-slider {
	opacity: 1;
	pointer-events: all;
}

#seek {margin: 14px 0;}

.seek-container {
	flex-basis: 25%;
	justify-content: flex-end;
	margin-inline-start: auto;
}

#wave {
	position: absolute;
	top: 0;
	width: 100%;
	height: 75px;
	border-radius: 0 0 10px 10px;
	margin-top: 75px;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.2s;
	pointer-events: none;
}
#wave.done {
	transform: scaleY(-1);
}

#play-pause {
	position: relative;

	&::before {
		content: 'play_arrow';
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40px;
		transition: rotate .2s ease-out;
	}
	&.pause::before {
		content: 'equal';
		rotate: 90deg;
		scale: .8;
	}
	&.loading { pointer-events: none; }
	&.loading::before {
		pointer-events: none;
	}
}

