:root {
    --bg: #FFF;
	--prime-l: #DADADA;
    --prime: #555;
	--prime-d: #000;
	--red: #EB5757;
	--red-t: #EB575777;
}

@property --grad-stop {
	syntax: "<percentage>";
	initial-value: 0%;
	inherits: false;
}

main {
	border-radius: 12px;
	border: 2px solid var(--prime-l);
	background: var(--bg);
	font-family: Prompt;
}
window-controls button {
	width: 40px;
	height: 40px;
	margin: 0;
	border-radius: 0 0 6px 6px;
	background: transparent;
}
button.close-window {  border-radius: 0 10px 0 6px; }
window-controls button:hover {
	background: var(--prime-l);
	box-shadow: none !important;
}
button.close-window:hover {
	background: var(--red) !important;
	color: var(--bg) !important;
}

/* SLIDER */
input[type=range] {
	height: 2px;
	background: var(--prime-l);
	background: linear-gradient(to right, var(--prime-d) 0%, var(--prime-d) 50%, var(--prime-l) 50%, var(--prime-l) 100%);
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 12px;
	border: 2px solid var(--bg);
	background: var(--prime-d);
	transition: .2s;
}
input[type=range]::-webkit-slider-thumb:hover { height: 16px; }

/* BUTTONS */
button {
	min-width: 32px;
	min-height: 32px;
	border-radius: 50px;
	border: none;
	background: var(--bg);
	background: radial-gradient(circle at center, var(--prime-l) var(--grad-stop), var(--bg) var(--grad-stop));
	transition: all .2s, box-shadow .5s .1s, --grad-stop .4s;
}
button:not(.fab):hover {
	--grad-stop: 100%;
	box-shadow: 0 0 0 2px var(--prime-l);
}

.fab {
	height: 48px;
	width: 48px;
	padding-inline-start: 2px !important;
	font-size: 40px;
	z-index: 1;
}

#title {
	font-size: 24px;
	font-weight: lighter;
	text-shadow: 1px 1px #FFF, -1px 1px #FFF, 1px -1px #FFF, -1px -1px #FFF
}
#album-artist {
	font-size: 11px;
	text-shadow: 1px 1px #FFF, -1px 1px #FFF, 1px -1px #FFF, -1px -1px #FFF
}

.seek-container label { padding: 0 6px; }

#play-pause {
	&::before {
		border-radius: 50px;
	}

	&.loading::before {
		content: '';
		inset: 2px;
		overflow: hidden;
		background: #fff url(../imgs/sine.svg) 0 0 repeat-x;
		background-size: 40px 44px;
		rotate: 0deg;
		animation: move 4s linear infinite;
		filter: invert(1);
	}
}
@keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: -100px 0; }
}