/* https://codepen.io/joshbader/pen/GqXbVZ?page=2 */
button {
	background: linear-gradient(#ddd, #f6f6f6);
}
button::before {
	content: '';
	inset: 6px;
	border: 0.125em solid #d5d5d5;
	background-color: #f4f4f4;
}
